folium==0.15.1
matplotlib==3.6.2
numpy==1.23.5
pandas==1.5.2
Pillow==9.3.0
Pillow==10.1.0
Requests==2.31.0
scikit_learn==1.2.0
streamlit==1.29.0
streamlit_folium==0.18.0
torch==2.1.2
torchsummary==1.5.1
torchvision==0.16.2
torch-geometric==2.1.0
-f https://data.pyg.org/whl/torch-1.12.1+cpu.html
torch-scatter==2.0.9
-f https://data.pyg.org/whl/torch-1.12.1+cpu.html
torch-sparse==0.6.16